<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleIdentifier</key>
  <string>chat.psstpsst.app.proximity</string>
  <key>CFBundleName</key>
  <string>PsstPsst Proximity</string>
  <key>CFBundleVersion</key>
  <string>1</string>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Allow PsstPsst to discover and communicate with nearby PsstPsst users.</string>
</dict>
</plist>
